body {
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100hv;
}

.d1 {
    margin: 150px;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    user-select: none;
    transition: transform 0.7s ease;
}

.d1:active {
    transform: translateY(-9px);
}

.Y {
    background-color: peachpuff;
    padding: 60px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    transition: transform 0.7s ease;
}

.Y:active {
    background-color: #FFA07A;
    transform: translateY(-8px);
}

h2 {
    font-size: 20px;
    margin: 15px 0 5px;
}

p {
    color: gray;
    font-size: 15px;
}

.d3 {
    margin-top: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    font-size: 20px;
}

.C {
    width: 40px;
    height: 40px;
    font-weight: bold;
    border: black 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1.1s ease;
}

.C:active {
    background-color: peachpuff;
}