body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(253, 253, 253);
    margin: 0;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
}

.card-header {
    background: #e91e63;
    color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    user-select: none;
    transition: transform 0.5s ease, background-color 0.5s ease;
}


.card-header:hover {
    transform: scale(1.1);
    background-color: #f48fb1;
}

.card-body {
    padding: 20px;
    text-align: left;
}

.card-body h2 {
    margin: 0;
    font-size: 20px;
}

.card-body p {
    color: gray;
    margin: 5px 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.circle-button {
    width: 30px;
    height: 30px;
    border: 2px solid #e91e63;
    border-radius: 50%;
    background: #f06292;
    color: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-align: center;

}


.circle-button:hover {
    background: #d81b60;
}