h1{
    font-size: 128px;
    background-color: red;
    color: white;
}

div{
    background-color: cyan;
    font-size:32px
}
.jc{
    font-size: 40px ;
}

.e{
    background-color: violet;
}

.r{
    background-color: purple;
}