*{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}


ul{
    background-color: black;
}

li{
    list-style-type: none;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
}

li:hover{
    background-color: black;
    color:white;
    font-size: 30px;
    

}

.roxo{
    background-color: purple;
}

.azul{
    background-color: blue;
}

.rosa{
    background-color: pink;
}

.vermelho{
    background-color: red;
}