.card {
    width: 100px;
    height: 100px;
    background: #eee;
    margin: 20px;
    user-select: none;
}

.card1 {
    transition: width 1s linear, height 1s linear;
}

.card1:active {
    width: 350px;
    height: 350px;
}

.card2 {
    transition: transform 1s linear;
}           
/**/
.card2:active {
    transform: rotate(180deg);
} 